@import url("https://fonts.googleapis.com/css2?family=Alata&family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "JaturatDemo";
  src: url("./assets/fonts/JaturatDEMO-Black-5cbb.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

body {
  scroll-behavior: smooth;
  background-color: #0B0C10;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: #ffffff !important;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 60px;
  color: #46a6a2 !important;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.color-turquoise {
  color: #46a6a2 !important;
}

.color-gold {
  color: #ffd700 !important;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.footer {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.hero::after,
.footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(48, 11, 52, 0.6);
  z-index: 1;
}

.hero-video,
.footer-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero_contant,
.footer_contant {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: white;
}

.hero_contant .logo,
.footer_contant .logo {
  width: 100%;
}

.hero_contant .logo img,
.footer_contant .logo img {
  width: 200px !important;
}
/* About */
.about_img {
  width: 100%;
  height: 100%;
}

.about_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Services */
.service {
  background-color: #1a1a1a;
}
.service .client-img {
  height: 250px;
  width: 250px;
}
.service .client-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.service .service-content {
  position: relative;
}
.service .service-content::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 20%;
  height: 5px;
  background-color: #46a6a2;
}
/* What You Get */

.what-you-gat-item {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  border: 8px solid rgb(148, 137, 77);
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-you-gat-item .icon {
  font-size: 100px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
.what-you-gat-item:hover .icon {
  transform: scale(1.1);
  color: #46a6a2;
}

/* ================= */
.what-you-gat,
.service,
.about {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }

  .hero_contant,
  .footer_contant {
    width: 100%;
  }
  .hero_contant .logo {
    width: 80%;
  }
  .hero_contant .logo img {
    width: 100% !important;
  }
  .what-you-gat {
    height: 100%;
  }
  .what-you-gat,
  .service,
  .about {
    height: 100%;
    
  }
  .footer {
  height: 100%;
  
}

}
